url
tramp
elpa
state
el-get
anaconda-mode
sandboxes
bbdb
emms
eshell
var
org-caldav-backup.org
projectile-bookmarks.eld
*.elc
bookmarks
diary
games
recentf
smex-items
snippets/**/.yas-compiled-snippets.el
history
